{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Accueil
{% endblock %}


{% block body %}
    <h2 class="text-center  p-3  text-light ">BIENVENUE CHES LES FOUINEURS ... </h2> <br>
    <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
    </p> <br>

    <div id="carouselWithIndicators" class="carousel slide w-75 mx-auto" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('upload/carousel-slide-3.jpg') }}" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('upload/carousel-slide-2.jpg') }}" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('upload/carousel-slide-3.jpg') }}" class="d-block w-100" alt="Slide 3">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('upload/carousel-slide-2.jpg') }}" class="d-block w-100" alt="Slide 2">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselWithIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselWithIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div> <br>
    <a href="{{ path('trouvailles') }}" class="text-decoration-none "  ><h5 class=" text-center  p-3  bg-gradient text-light "   >DECOUVREZ NOS TROUVAILLES  </h5> <br>
    </a>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
    </p> <br>
    <a href="{{ path('ajoutChasse') }}" class="text-decoration-none "  ><h5 class=" text-center  p-3  bg-gradient text-light "   >ON FOUINE POUR VOUS <div class="fa-xl mt-1">&#x26AF;</div> </h5> <br>
    </a>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
        <br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
    </p> <br>




{% endblock %}
