{% extends 'base.html.twig' %}

{% block body %}


    <table class="table table-secondary table-striped">
        <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Prix</th>
            <th scope="col">Photo</th>
            <th scope="col">+ </th>
            <th scope="col">Quantité</th>
            <th scope="col">-</th>
            <th scope="col">Supprimer</th>
            <th scope="col">Annuler</th>
        </tr>

        </thead>
        <tbody>

        {% for item in panier  %}


            <tr>
                <th scope="row">{{  item.produit.id  }}</th>
                <td>{{  item.produit.titre  }}</td>
                <td>{{  item.produit.prix  }}€</td>
                <td><img src="{{ asset('upload/')~item.produit.photo }}" width="100" alt=""></td>
                <td><a href="{{ path('retraitPanier', {'id': item.produit.id}) }}" class="btn btn-dark">-</a>
                </td>
                <td>{{  item.quantite  }}</td>
                <td><a href="{{ path('ajoutPanier', {'id': item.produit.id}) }}" class="btn btn-dark">+</a></td>
                <td><a href="{{ path('supprimer', {'id': item.produit.id}) }}" class="btn btn-dark">Retirer ce produit</a></td>
                <td><a href="{{ path('destroy') }}" class="btn btn-dark">Vider votre panier</a></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

    <p><h2>Montant total:</h2>{{  total  }}€</p>

    <td><a href="{{ path('trouvailles') }}" class="btn btn-secondary btn">CONTINUER VOS ACHATS</a></td> <br>
    {% if app.user %}
    <a href="{{ path('recapCommande') }}" class="btn btn-light btn mt-2">COMMANDER</a>

    {% else %}
        <a href="{{ path('login') }}" class="btn btn-warning">Connectez-vous</a>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

